@model lab9.Models.Article

@{
    ViewData["Title"] = "Article Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Price)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Price)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ExpirationDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.ExpirationDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Category)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Category)</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</p>

@section ExtraInfo {
    <div class="alert alert-info mt-3">
        Additional info: This section is provided from Details view.
    </div>
}
